*{
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
.maxSize{
	height: 100%;
	min-width: 100%;
}
	
body{
	background-color: #000!important;
}

#lending, #overlay, #aboutoverlay, #contactoverlay{
	position: fixed;
	background-attachment: fixed;
	overflow-y:auto;
}

#overlay, #aboutoverlay{
	background-size: cover;
	opacity: 0.5;
}

#overlay{background-image: url('/img/lendingpage.jpg');}
#aboutoverlay{background-image: url('/img/about.jpg');}
#contactoverlay{background-image: url('/img/contact.jpg');}

#menu{
	margin-top: 50px;
	margin-right: 80px;
	right: 0;
	top: 0;
	position: absolute;
	z-index: 20;
}

#menu > a{
	display: inline-block;
	color: #FFF;
	font-size: 16pt;
	text-decoration: none;
	font-weight: 700;
	margin: 0px 25px;
}

#menu > a:hover{
	color: orange;
	cursor: pointer;
}

#title, #aboutme{
	font-weight: 600;
	text-transform: uppercase;
	font-size: 45pt;
	float: left;
	margin-left: 10%;
	margin-top: 16%;
	color: #FFF;
}

#aboutme{
	font-size: 32pt;
	font-weight: 500;
	margin-top: 15%;
}

*:hover, img, button, a, input{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#mainBlock, #mainInside, #registration {
	width: 750px;
	height: 500px;
	position: absolute;
    top: 45%;
    left: 32%;
    margin: -160px 0 0 -125px;
}

.rozesBlock{
	width: 200px;
	height: 200px;
	background-color: #FFF;
	margin: 10px 20px;
	border: 2px solid #000;
	display: inline-block;
}

.rozesThumbnail{
	width: 100%;
	height: 160px;
	opacity: .8;
}

.rozesThumbnail img{
	width: 100%;
	height: 100%;
}

.rozesName{
	border-top: 1px solid grey;
	height: 40px;
	box-sizing: border-box;
	padding: 10px 5px;
	background: blue;
	color: #FFF;
	text-align: center;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a.active {
	color: orange !important;
}

#mainInside, #registration {
	background: #FFF;
	border: 2px solid #000;
	height: 300px;
	top:55%;
}

#mainInside > .rozeTop{
	background: blue;
	width: 100%;
	color: #FFF;
	font-weight: bold;
	text-align:center;
	padding: 10px 15px;
	box-sizing: border-box;
}

#mainInside > .rozeThum{
	width:200px;
	height:200px;
	border: 2px solid #000;
	display: inline-block;
	margin: 20px;
	box-sizing: border-box;
}

#mainInside > .rozeThum img{
	width:100%;
	height:100%;
}

#mainInside > .rozeInfo{
	padding-top: 20px;
	vertical-align:top;
	width: 460px;
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	font-size: 13pt;
	overflow: hidden;
}

div.cost, div.wide{
	width:300px;
	margin:25px 0px;
}

div.cost{
	font-weight:bold;
	font-size:17pt;
}

div#snow {
	width: 200px;
	position: fixed;
	top: 45%;
	margin-top: -170px;
	margin-left: 20px;
}

div#snow a {
	display:block;
	color: #fff;
	padding-top: 20px;
}

div#snow a:hover{
	color: orange;
	font-weight: bold;
}

div.language{
	margin: 50px;
	font-weight: bold;
	z-index: 20;
	position: absolute;
}

div.language a{
	color: #FFF !important
}

div.language a:hover{
	color: orange;
}

.enf{margin:0 auto;}

.noselect{
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	 user-select: none;                       
}

@keyframes lost{from {opacity: 1;} to {opacity: 0;}}
.enf{
	position:absolute;
	right:0;
	margin-right:10px;
}

.enf{
	animation-name:lost;
	animation-duration:20s;
	opacity:0;
	text-transform:uppercase;
	background:#B22222;
	width:250px;
	font-size:10pt;
	color:#FFF;
	text-align:center;
	padding:15px;
	box-shadow:2px 2px 4px #000000;
}

.good {
	background: #00e600;
}
	
.centered-text{
	text-align: center;
}

.like{
	position: absolute;
	left: 3%;
	bottom: 7px;
	color: red;
}

.like span{
	color: #000;
}

.like i{
	vertical-align: sub;
}

.like:hover{
	cursor: pointer;
	font-weight: bold;
}

.fa-15x{
	font-size: 1.5em;
}

/*-----NEW-----*/

.btn-abs {
	position: absolute;
	right: 26%;
	bottom: 26%;
}

.btn-lg {
	width: 200px;
}

.mt30pct {
	margin-top: 12%!important;
	font-size: 25pt!important;
}

.four {
	-webkit-column-count: 4!important;
	-moz-column-count: 4!important;
	column-count: 4!important;
	margin-top: 10%;
	margin-left: 2%;
}

.withMenu {
	margin-top: 7%;
	margin-left: 250px;
}

#tk-menu {
	height: 50px;
	position: relative;
}

.card-img-top {
	max-height: 280px;
}

.rozes-view {
	margin: 15% 0px 0px!important;
}

.rozes-text {
	margin: 0px!important;
}

.rozes-padding {
	padding-left: 0px!important;
	padding-right: 0px!important;
}

.mgtop15 {
	margin-top: 15px;
}

#do-like, #do-order {
	margin-top: 15px;
}

#do-progress {
	margin-left: 42%;
}

.item-delete{
	color: red;
	right: 20px;
	position: absolute;
}

.item-delete:hover{
	cursor: pointer;
}

ol.breadcrumb {
	position: relative;
}

.td {
	text-decoration: none!important;
}

.fleft{
	margin-left: 10%;
}